<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/header :: header(~{::title})">
    <meta charset="UTF-8">
    <title>상품목록</title>
</head>
<body>
<div class="container">
    <div >
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>상품명</th>
                    <th>작성자</th>
                    <th>이미지</th>

                </tr>
                </thead>
                <tbody>

                <tr th:each="items:${item}">
                    <td><a th:text="${items.id}" th:href="@{|/item/${items.id}|}"></a></td>
                    <td><a th:text="${items.name}" th:href="@{|/item/${items.id}|}"></a></td>
                    <td th:text="${items.nickname}"></td>
                    <!--                <td><img th:src="|/images/${items.uploadDtos}|"></td>-->
<!--                                    <td><img th:each="image:${items.uploadDtos}" th:src="|/images/${image.getStoreFileName()}|" width="300"height="300">  </td>-->
                    <td><img th:src="|/images/${items.uploadDto.storeFileName}|" width="300" height="300"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <th:block>
            <button type="button" th:onclick="|location.href='@{/}'|">메인화면</button>
            <button type="button" th:onclick="|location.href='@{/item/insert}'|">상품추가</button>
        </th:block>


    </div>
<!--    페이징-->
    <div class="container">
        <div class="row">
            <div class="col-md">

                <nav style="text-align: center;" class="navbar-collapse">
                    <ul class="pagination"
                        th:with="start=${T(java.lang.Math).floor(item.number/10)*10},
                    last=(${start + 9 < item.totalPages ? start + 9 : item.totalPages} -1)">
                        <li class="page-link">
                            <a th:href="@{/item(page=0)}" aria-label="First" th:class="badge-light">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>

                        <li th:class="${item.first} ? 'disabled'">
                            <a th:href="${item.first} ? '#' : @{/board(page=${post.number-1})}" aria-label="Previous">
                                <span aria-hidden="true" class="page-link">&lt;</span>
                            </a>
                        </li>

                        <li th:each="page: ${#numbers.sequence(start, last)}"
                            th:class="${page == item.number+1} ? 'active'">
                            <a th:text="${page}" th:href="@{/item(page=${page})}" class="page-link"></a>
                        </li>
                        <li th:class="${item.last} ? 'disabled'">
                            <a th:href="${item.last} ? '#' : @{/item(page=${post.number + 1})}" aria-label="Next">
                                <span aria-hidden="true" class="page-link"> > </span>
                            </a>
                        </li>
                        <!--  <li th:class="${post.last} ? 'disabled'"> 삼항연산자 "<expression> expected, got '@'{" 오류나서 임시로 해둔 거
                            <th:block th:unless="${post.last}">
                                <a th:href="@{/board(page=${post.number+2})}" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </th:block>
                            <th:block th:if="${post.last}">
                                <a th:href="@{/board(page=${post.totalPages}-1)}" aria-label="Next">
                                    <span aria-hidden="true">&gt;</span>
                                </a>
                            </th:block>

                        </li>-->

                        <li>
                            <a th:href="@{/item(page=${item.totalPages}-1)}" aria-label="Last" class="page-link">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>
</div>
</body>
</html>