<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">
    <title>BoardList</title>
</head>
<body>
<div th:class="container">
    <div class="jumbotron">
        <h2 style="text-align: center">게시판</h2>
    </div>


    <div class="row" style="text-align: center;">
        <div class="col">

            <form th:object="${search}" class="form-check-inline">
                <div class="text-body">
                    <input type="text" th:field="*{title}" placeholder="제목" class="form-control">
                    <input type="text" th:field="*{nickname}" placeholder="작성자" class="form-control">
                </div>


                <!-- 셀렉트 박스로 검색할 수 있도록 업데이트 할 예정 <select class="form-control" id="search" name="search">
                     <option th:value="*{title}" th:text="*{title}"></option>
                     <option th:value="*{nickname}" th:text="*{title}"></option>
                 </select>-->
                <button type="submit" class="btn-group-vertical">검색</button>
            </form>
            <table id="customers">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="posts:${post}">
                    <td><a th:text="${posts.id}" th:href="@{/board/{boardId}(boardId=${posts.id})}"></a></td>
                    <td><a th:text="${posts.title}" th:href="@{|/board/${posts.id}|}"></a></td>
                    <td th:text="${posts.nickname}"></td>
                    <td th:text="${posts.dateTime}"></td>

                </tr>
                </tbody>
            </table>
        </div>


    </div>


    <hr>

    <div class="col">
        <button class="btn-primary float-lg-right" th:onclick="|location.href='@{/board/insertBoard}'|">글작성
        </button>
    </div>

</div>
<!--페이징-->
<div class="container">
    <div class="row">
        <div class="col-md">

            <nav style="text-align: center;" class="navbar-collapse">
                <ul class="pagination"
                    th:with="start=${T(java.lang.Math).floor(post.number/10)*10},
                    last=(${start + 9 < post.totalPages ? start + 9 : post.totalPages} -1)">
                    <li class="page-link">
                        <a th:href="@{/board(page=0)}" aria-label="First" th:class="badge-light">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>

                    <li th:class="${post.first} ? 'disabled'">
                        <a th:href="${post.first} ? '#' : @{/board(page=${post.number-1})}" aria-label="Previous">
                            <span aria-hidden="true" class="page-link">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == post.number+1} ? 'active'">
                        <a th:text="${page}" th:href="@{/board(page=${page})}" class="page-link"></a>
                    </li>
                    <li th:class="${post.last} ? 'disabled'">
                        <a th:href="${post.last} ? '#' : @{/board(page=${post.number + 1})}" aria-label="Next">
                            <span aria-hidden="true" class="page-link"> > </span>
                        </a>
                    </li>
                    <!--  <li th:class="${post.last} ? 'disabled'"> 삼항연산자 "<expression> expected, got '@'{" 오류나서 임시로 해둔 거
                        <th:block th:unless="${post.last}">
                            <a th:href="@{/board(page=${post.number+2})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </th:block>
                        <th:block th:if="${post.last}">
                            <a th:href="@{/board(page=${post.totalPages}-1)}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </th:block>

                    </li>-->

                    <li>
                        <a th:href="@{/board(page=${post.totalPages}-1)}" aria-label="Last" class="page-link">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
</body>
</html>